<!--/*--><![CDATA[/*><!--*/

* {
  margin: 0;
  padding:0;
}

ol li{margin-left: 0em;
list-style-position: inside;
}

ul li{margin-left: 0em;
list-style-position: inside;
}

h2 {margin-bottom: 10px;
margin-top: 10px;
}
h3 {margin-bottom: 10px;
margin-top: 10px;
}

/* old top menu */
/*
#table-of-contents {
    border-color: #A3A3A3;
    border-image: none;
    border-style: solid;
    border-width: 1px 0;
}
*/

/* fixed menu */

#org-div-home-and-up {
position: fixed;
    left:2px;top:0;
}

h1.title {
  position:fixed;
  font-size: 1em;
  top: 1.5em;
  left:2px;
  width: 200px;
  height: 4em;
  margin: 0px;
  overflow: auto;
}


#table-of-contents {
position: fixed;
    left:2px;
   top:5em;
   bottom:0px;
    width:200px; 
overflow: auto;
}

#table-of-contents h2{
font-size: 1em;
}

#table-of-contents li{
list-style-position: outside;
}




#postamble a {
    color: #525E9A;
}
#postamble {
    font-size: 0.7em;
    border-top: 1px solid #ABA6A6;
    margin-top: 4em;
    color: #808080;
}
#postamble p { width: 100%; }
body {
    font-family: verdana;
    font-size: 0.8em;
    min-width: 800px;
    max-width: 1000px;
    margin-left: 210px;    
   // margin:auto;    
}


p, li {
    max-width: 59em;
}

span.todo, span.done {
    font-size: 50%;
    text-decoration: none;
    border-radius: 5px;
    padding: 3px;
    color: white;
}

pre.src {
    position: relative;
    overflow: visible;
    padding-top: 1.2em;
padding-left: 0em;
background-color: #eff0f1;
  }
pre.src:before {
    position: absolute;
    background-color: white;
    top: -10px;
    right: 10px;
    padding: 3px;
    border: 1px solid black;
  }
  pre.src:hover:before { display: inline;}
  pre.src-sh:before    { content: 'sh'; }
  pre.src-bash:before  { content: 'sh'; }
  pre.src-emacs-lisp:before { content: 'Emacs Lisp'; }
  pre.src-R:before     { content: 'R'; }
  pre.src-matlab:before  { content: 'MATLAB'; }
.src,.example{margin:0;padding:1em;font-size:1em;line-height:1.5em;
}


/*]]>*/-->