<!--/*--><![CDATA[/*><!--*/
  .title  { text-align: left;font-size: medium }
  #postamble p, #preamble p { margin: .2em; }
  h1 { font-size: medium }
  h2 {font-size: medium }
  h3 {font-size: medium }
  blockquote { 
      font-style: italic;
  }
  /*]]>*/-->